.services{
    img{
        width: 70%;
    }
}

.services{
    .card{
        transition: box-shadow 300ms ,transform 300ms;
    }
    .card:hover{
        box-shadow:
        0px -0.2px 3px -7px rgba(0, 0, 0, 0.031),
        0px 1.6px 7.2px -7px rgba(0, 0, 0, 0.044),
        0px 5.5px 13.6px -7px rgba(0, 0, 0, 0.055),
        0px 11.6px 24.3px -7px rgba(0, 0, 0, 0.066),
        0px 20.8px 45.5px -7px rgba(0, 0, 0, 0.079),
        0px 37px 109px -7px rgba(0, 0, 0, 0.11);
        transform: scale(1.01);
    }
}

@media screen and (max-width:400px) {
    .services{
        img{
            width: 100%;
        }
    }
}

@media screen and (min-width:1200px) {
    .services{
        img{
            width: 90%;
        }
    }
}