@import "./variable";
@import "./mixin";
@import "./font";
@import "./navbar";
@import "./header";
@import "./services";
@import "./testimonials";
@import "./footer";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFFFFF;
}